// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// // Colors
// $blue: #4daefd;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;



// Body
$body-bg: #f3e8ff; // A very light purple

// Typography
$font-family: 'Roboto Serif';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #b388ff; // Soft violet
$indigo: #7c4dff; // Deep purple
$purple: #5e35b1; // Darker purple
$pink: #f3e5f5; // Lavender blush
$red: #aa00ff; // Vivid violet
$orange: #d500f9; // Purple pizzazz
$yellow: #e040fb; // Lavender purple
$green: #b39ddb; // Light pastel purple
$teal: #7e57c2; // Soft medium purple
$cyan: #9575cd; // Slightly desaturated dark violet
