.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #7c4dff; /* Deep purple */
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #b388ff; /* Soft violet */
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
    background-color: #aa00ff; /* Vivid violet */
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #5e35b1; /* Darker purple */
    background-color: #eae7f8; /* Lightest purple */
    border-color: #dcd3f2; /* Light purple */
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(150, 123, 182, .5); /* Purple glow */
}

.btn-default:hover {
    color: #5e35b1; /* Darker purple */
    background-color: #d9d2e9; /* Light purple */
    border-color: #c8b9db; /* Light purple */
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left: 5px;
}
.searchable-link {
    padding: 0 5px 0 5px;
}
.searchable-link:hover {
    cursor: pointer;
    background: #f3e5f5; /* Lavender blush */
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: #aa00ff; /* Vivid violet */
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}